.NewGameForm {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: var(--size-unit);
  padding: var(--size-unit);
  .form {
    display: flex;
    flex-direction: column;
    gap: var(--size-unit);
    align-items: center;
    width: 100%;
    max-width: 400px;
  }
  .input-number {
    display: flex;
    flex-flow: row wrap;
    row-gap: 0;
    column-gap: var(--size-unit);
    justify-content: space-between;
  }

  input {
    min-width: 0;
    flex: 1 1 auto;
    padding-left: 0.5em;
  }

  .form-group,
  .form-actions-group,
  .h-separator {
    width: 100%;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: var(--size-unit);
  }

  .form-actions-group {
    display: flex;
    flex-flow: row wrap;
    column-gap: calc(var(--size-unit) * 2);
    row-gap: calc(var(--size-unit) * 0.5);
    justify-content: stretch;
  }

  .action-button {
    padding: calc(var(--size-unit) * 0.5) calc(var(--size-unit) * 1.5);
    flex: 1 1 auto;
    &.main {
      background-color: var(--theme-main-color);
    }
  }
}
